jenkins_data/logs/
jenkins_data/nodeMonitors.xml
jenkins_data/plugins/
jenkins_data/queue.xml
jenkins_data/queue.xml.bak
jenkins_data/secret.key
jenkins_data/secret.key.not-so-secret
jenkins_data/userContent/
jenkins_data/war/
jenkins_data/workspace/
jenkins_data/.java/
jenkins_data/.lastStarted
jenkins_data/.owner
jenkins_data/com.cloudbees.hudson.plugins.folder.config.AbstractFolderConfiguration.xml
jenkins_data/copy_reference_file.log
jenkins_data/fingerprints/
jenkins_data/hudson.model.UpdateCenter.xml
jenkins_data/hudson.plugins.git.GitTool.xml
jenkins_data/identity.key.enc
jenkins_data/jenkins.telemetry.Correlator.xml
jenkins_data/credentials.xml
**/.vagrant/
jenkins_data/.cache/
jenkins_data/caches/
jenkins_data/secrets/
jenkins_data/credentials.xml
jenkins_data/jobs/**/builds
jenkins_data/jobs/**/nextBuildNumber
jenkins_data/jobs/**/builds/permalinks
jenkins_data/com.cloudbees.jenkins.plugins.bitbucket.endpoints.BitbucketEndpointConfiguration.xml
jenkins_data/github-plugin-configuration.xml
jenkins_data/hudson.plugins.git.GitSCM.xml
jenkins_data/hudson.tasks.Mailer.xml
jenkins_data/hudson.tasks.Shell.xml
jenkins_data/hudson.triggers.SCMTrigger.xml
jenkins_data/io.jenkins.plugins.junit.storage.JunitTestResultStorageConfiguration.xml
jenkins_data/jenkins.fingerprints.GlobalFingerprintConfiguration.xml
jenkins_data/jenkins.install.InstallUtil.lastExecVersion
jenkins_data/jenkins.model.ArtifactManagerConfiguration.xml
jenkins_data/jenkins.model.GlobalBuildDiscarderConfiguration.xml
jenkins_data/jenkins.model.JenkinsLocationConfiguration.xml
jenkins_data/jenkins.security.ResourceDomainConfiguration.xml
jenkins_data/jenkins.tasks.filters.EnvVarsFilterGlobalConfiguration.xml
jenkins_data/org.jenkinsci.plugins.docker.workflow.declarative.GlobalConfig.xml
jenkins_data/org.jenkinsci.plugins.github_branch_source.GitHubConfiguration.xml
jenkins_data/org.jenkinsci.plugins.workflow.flow.GlobalDefaultFlowDurabilityLevel.xml
jenkins_data/org.jenkinsci.plugins.workflow.libs.GlobalLibraries.xml
jenkins_data/updates/hudson.tasks.Maven.MavenInstaller
ubuntu-bionic-18.04-cloudimg-console.log



